{{ define "main" }}
<article class="single-article">
    <header class="single-header">
        <p class="article-meta">
            <span class="category">{{ with .Params.rubriques }}{{ range $i, $r := . }}{{ if $i }}, {{ end }}{{ $r | humanize }}{{ end }}{{ end }}</span>
            <span>Publié le {{ .Date.Format "02 January 2006" }}</span>
        </p>
        <h1 class="single-title">{{ .Title }}</h1>
        <p class="article-description" style="font-size: 1.25rem; margin-bottom: 1.5rem; color: var(--text-secondary);">
            {{ .Description }}</p>
    </header>

    {{ if .Params.gallery }}
    {{ $count := len .Params.gallery }}
    <div class="gallery-dynamic gallery-count-{{ $count }}" style="margin-bottom: 2rem;">
        {{ range .Params.gallery }}
        <div class="gallery-item">
            <img src="{{ . | relURL }}" alt="Galerie de photo" loading="lazy">
        </div>
        {{ end }}
    </div>
    {{ else if .Params.image }}
    <div class="img-container" style="aspect-ratio: auto; margin-bottom: 2rem;">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy"
            style="width: 100%; border-bottom: 1px solid var(--border-light);">
    </div>
    {{ end }}

    <div class="single-content">
        {{ .Content }}
    </div>
</article>
{{ end }}